@import "colors";

body {
    display: flex;
    margin: 0;
    background-color: $color_dark;
}
#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
flex: 1;
align-items: stretch;
}

*{
    color: $color_light;
}

.section {
    min-height: 20vh;
    background-color: $color_main;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;

    span {
        height: 20vh;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 0.2em solid $color_darker;
        }
}