@import "colors";

.section {
    min-height: 20vh;
    background-color: $color_main;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;

    span {
        height: 20vh;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        border: 0.2em solid $color_darker;
        }
}